---
import Button from "./Button.astro";
import Label from "./Label.astro";
const { title, str, pris, link, forpris } = Astro.props;
---

<article>
  <Label variant="tilbud">-28%</Label>
  <div class="billede">
    <img src={link} alt="" height="336" width="223" />
  </div>
  <div class="tekst">
    <div class="like">
      <h5>{title}</h5>
      <img src="src/billede/like.svg" alt="like" />
    </div>
    <p class="storrelse">Størrelser: {str}</p>
  </div>
  <div class="sektion">
    <h4 class="rabat">{pris}:-</h4>
    <h4 class="forpris">{forpris}:-</h4>
    <h4></h4>
    <Button variant="primary">Læs mere</Button>
  </div>
</article>

<style>
  article {
    margin: 10px;
    width: var(--Card-Width);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding: 20px;
    border: var(--Card-Border-farve);
    border-radius: var(--Card-BorderRadius);
  }
  .like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rabat {
    color: var(--red-tilbud-tekst);
  }

  .forpris {
    text-decoration: line-through;
  }

  .tekst {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-block: 10px;
  }
  .label {
    display: flex;
  }

  .sektion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .billede {
    display: flex;
    justify-content: center;
  }
</style>
